<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

<body>
    
    <form action="/cadastrar" method="post">
        
        <div class="field">
            <label class="label">Usuário</label>
            <div class="control">
                <input class="input" name="usuario" placeholder="" />
            </div>
        </div>

        <div class="field">
            <label class="label">Senha</label>
            <div class="control">
                <input class="input" name="senha" placeholder="********" />
            </div>
        </div>

        <button type="submit">Cadastrar</button>

    </form>
 
</body>
</html>